ion-content{
  background-image: url('../assets/imgs/page1-bg.png');
  background-position: center;
  background-size: contain;
}
ion-grid{
  background-image: url('../assets/imgs/DirtyDogTracker.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 35%;
}
.form{
  margin-top: 35%;
}
#rememberme{
  color: #FFFFFF;
}
ion-input{
  background-color: #000000;
  opacity: 0.5;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
}
.btn1_login{
  font-weight: normal;
  margin-top: 10%;
}
.btn2_login{
  font-weight: normal;
  margin-bottom: 0;
  font-variant: normal;
}
p{
  color: white;
  font-weight: normal;
}
