#main-bg {
  background-image: url('../assets/imgs/page3-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#home{
  background-image: url('../assets/imgs/home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#my_dog{
  background-image: url('../assets/imgs/my-dog.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#report_dog{
  background-image: url('../assets/imgs/report-a-dog.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#dog_pound{
  background-image: url('../assets/imgs/dog-pound.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#map{
  background-image: url('../assets/imgs/map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#footer{
  zoom : 1.4;
  margin-bottom: none;
}
#footer2{
  zoom : 65%;
}
.mainspan{
  font-size: 11px;
}
